## Panda Different functionality analysis

### Pandas has two different types of data type

#### 1. Series
#### 2. Dataframe

In [9]:
import pandas as pd

In [10]:
car_series = ["BMW", "MERCEDES", "JAGUAR"]

In [11]:
car_series

['BMW', 'MERCEDES', 'JAGUAR']

In [12]:
car_series = pd.Series(car_series)
car_series

0         BMW
1    MERCEDES
2      JAGUAR
dtype: object

In [13]:
colors_series = pd.Series(["RED", "Black", "White"])

In [14]:
colors_series

0      RED
1    Black
2    White
dtype: object

In [15]:
car_df = pd.DataFrame({"Cars": car_series, "Colors": colors_series})
car_df

       Cars Colors
0       BMW    RED
1  MERCEDES  Black
2    JAGUAR  White

In [17]:
car_sales_df = pd.read_csv("../data/car-sales.csv")
car_sales_df.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [19]:
car_sales_df.to_csv("../data/car-sales-exported.csv", index=False)

In [20]:
car_sales_df.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [21]:
car_sales_df.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [22]:
car_sales_df.index

RangeIndex(start=0, stop=10, step=1)

In [23]:
car_sales_df.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [24]:
car_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [25]:
car_sales_df.mean()

TypeError: Could not convert ['ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyotaNissan'
 'WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite'
 '$4,000.00$5,000.00$7,000.00$22,000.00$3,500.00$4,500.00$7,500.00$7,000.00$6,250.00$9,700.00'] to numeric

In [26]:
car_prices = pd.Series([3000, 1500, 11200])

In [27]:
car_prices.mean()

5233.333333333333

In [28]:
car_sales_df.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [29]:
len(car_sales_df)

10

In [30]:
car_sales_df["Doors"].sum()

40

In [31]:
car_sales_df["Doors"].mean()

4.0

In [32]:
car_sales_df["Doors"].median()

4.0

In [33]:
car_sales_df["Doors"].unique()

array([4, 3, 5])