## Panda Different functionality analysis

### Pandas has two different types of data type

#### 1. Series
#### 2. Dataframe

In [9]:
import pandas as pd

In [10]:
car_series = ["BMW", "MERCEDES", "JAGUAR"]

In [11]:
car_series

['BMW', 'MERCEDES', 'JAGUAR']

In [12]:
car_series = pd.Series(car_series)
car_series

0         BMW
1    MERCEDES
2      JAGUAR
dtype: object

In [13]:
colors_series = pd.Series(["RED", "Black", "White"])

In [14]:
colors_series

0      RED
1    Black
2    White
dtype: object

In [15]:
car_df = pd.DataFrame({"Cars": car_series, "Colors": colors_series})
car_df

       Cars Colors
0       BMW    RED
1  MERCEDES  Black
2    JAGUAR  White

In [17]:
car_sales_df = pd.read_csv("../data/car-sales.csv")
car_sales_df.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [19]:
car_sales_df.to_csv("../data/car-sales-exported.csv", index=False)